{% extends "base.html" %}
{% block title %} 
  学生清单  
{% end %}

{% block content %}
	<a href="couedit/new"><font color="#fffffff">新建学生信息</a>

	<table>
		<tr>
			<td><font color="#fffffff">学号</td>
			<td>&nbsp</td>
			<td><font color="#fffffff">出生日期</td>
			<td>&nbsp&nbsp</td>
			<td><font color="#fffffff">姓名</td>
			<td>&nbsp&nbsp&nbsp</td>
			<td><font color="#fffffff">性别</td>
			<td>&nbsp&nbsp&nbsp</td>
            <td><font color="#fffffff">班级</td>
            <td>&nbsp</td>
		</tr>
		{% for cou in courses %}
		<tr>
			<td><font color="#fffffff">{{ cou['stu_no'] }}</td>
			<td>&nbsp</td>
			<td><font color="#fffffff">{{ cou['cou_no'] }}</td>
			<td>&nbsp</td>
			<td><font color="#fffffff">{{ cou['name'] }}</td>
			<td>&nbsp</td>
			<td><font color="#fffffff">{{ cou['sex']  }}</td>
			<td>&nbsp</td>
            <td><font color="#fffffff">{{ cou['grade'] }}</td>
            <td>&nbsp</td>
			<td>
				<a href="couedit/{{cou['cou_sn']}}"> <font color="#fffffff">修改 </a> &nbsp;
				<a href="coudel/{{cou['cou_sn']}}"> <font color="#fffffff">删除 </a>
			</td>
		</tr>
		{% end %}
	</table> 
{% end %}
